section{
    margin-top: 0;
}

/* Secciones*/
#seccion-foto{
background-color:aliceblue;
}
#seccion-mensaje{
background-color: antiquewhite;;
}
#seccion-datos-invitado{
background-color: aqua;
}
#lugar{
background-color: azure;
}
#Padrinos{
background-color: beige;
}
#Itinerario{
background-color: blue;
}
#Mesa-regalos{
background-color: blueviolet;
}
#vestimenta{
background-color: brown;
}
#fotos-novios{
background-color: cadetblue;
width: 100%;
}
#hospedaje{
background-color: chartreuse;
}
#confirmacion{
background-color: coral;
}
#Fotos-insta{
background-color: darkcyan;
}
#frase{
background-color: darkseagreen;
}
#cotizar-invitacion{
background-color: darkslateblue;
}
#Anuncio{
    z-index: 4;
    font-family: 'Golden Notes', sans-serif;
    color:black;
    text-align: center;
    font-size: 38px;

}
/*Clases */
.Foto-principal{
    z-index:1;
    top: 0%;
    left: 0%;
    width: 100%;
    margin-top: 0%;
    position:relative;
    align-items: center;
}
h1{
    color: rosybrown;
    font-family: 'Golden Notes', sans-serif;
    font-size: 70px;
    align-items: center;
}
.titulo{
    left: 50%;
    top: 50px;
    margin-top: 50px;
    position: relative;
    /*transform: translate(-50%, -50%);*/
}
#countdown {
    z-index: 4;
    font-family: 'Golden Notes', sans-serif;
    color:black;
    text-align: center;
    font-size: 50px;

}
.imagen-fondo{
    width: 200%;

}
